:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --secondary-color: #ffffff;
  --tertiary-color: #000;
  --quaternary-color: #212121;
  --fifth-color: #757575;
  --sixth-color: #2f303a;
  --seventh-color: #188ce8;
  --ninth-color: #ececec;
  --tenth-color: #f5f4fa;
  --eleventh-color: #afb1b8;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: var(--main-font);
}

.btn {
  display: block;
  font-family: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
}

.section-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--quaternary-color);
}

.modal-btn {
  padding: 10px 32px 10px 32px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  background: var(--seventh-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.social-list-icon {
  width: 20px;
  height: 20px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  fill: var(--eleventh-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  fill: var(--secondary-color);
  background-color: var(--accent-color);
}

.social-list-link.social-list-link-footer {
  background: rgba(255, 255, 255, 0.1);
  fill: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link.social-list-link-footer:hover, .social-list-link.social-list-link-footer:focus {
  background-color: var(--accent-color);
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  background: var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.close-btn-icon {
  width: 18px;
  height: 18px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--secondary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--quaternary-color);
  margin-bottom: 12px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-field {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--fifth-color);
  margin-bottom: 10px;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: block;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-input-box {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--fifth-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form-checkbox-label::before {
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--quaternary-color);
  cursor: pointer;
  border-radius: 3px;
  margin-right: 9px;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/modal-form/icon-check.jpg);
  background-size: cover;
  border: none;
}

.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  border-color: var(--accent-color);
}

.modal-form-label-link {
  color: var(--accent-color);
}

.modal-btn.form {
  padding: 10px 55px 10px 56px;
  margin-top: 30px;
}

.header {
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--ninth-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--tertiary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover, .logo:focus {
  color: var(--accent-color);
}

.logo-web {
  color: var(--accent-color);
}

.menu-item:not(:first-child) {
  margin-left: 50px;
}

.contact-item:not(:first-child) {
  margin-left: 30px;
}

.menu-link,
.contact-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--quaternary-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover, .menu-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.menu-link.current,
.contact-link.current {
  color: var(--accent-color);
}

.menu-link.current::after,
.contact-link.current::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  content: '';
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.contact-link {
  color: var(--fifth-color);
  fill: var(--fifth-color);
}

.email-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.tell-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg.jpg);
  background-size: cover;
  background-color: var(--sixth-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero .container {
  width: 696px;
  margin: 0 auto;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.advantages {
  background-color: var(--secondary-color);
  padding-top: 94px;
  padding-bottom: 47px;
}

.advantages-list {
  display: flex;
}

.advantages-item {
  flex-basis: calc((100%-3 * 30px) / 4);
}

.advantages-item:not(:first-child) {
  margin-left: 30px;
}

.advantages-icon {
  width: 70px;
  height: 70px;
}

.advantages-box-icon {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--tenth-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.title-description {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--quaternary-color);
}

.description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fifth-color);
}

.about {
  background-color: var(--secondary-color);
  padding-top: 47px;
  padding-bottom: 47px;
}

.about-list {
  display: flex;
}

.about-item {
  flex-basis: calc((100%-2 * 30px) / 3);
  position: relative;
}

.about-item:not(:first-child) {
  margin-left: 30px;
}

.about-img-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.about-img-box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.team {
  padding-top: 47px;
  padding-bottom: 47px;
  background-color: var(--tenth-color);
}

.team-list {
  display: flex;
}

.team-item {
  flex-basis: calc((100%-3 * 30px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:first-child) {
  margin-left: 30px;
}

.team-name-position {
  background-color: var(--secondary-color);
  padding: 30px 32px 30px 32px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

.title-team-name {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--quaternary-color);
}

.team-position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--fifth-color);
  margin-bottom: 16px;
}

.regular-customers {
  padding-top: 47px;
  padding-bottom: 94px;
  background-color: var(--secondary-color);
}

.regular-customers-list {
  display: flex;
}

.regular-customers-icon {
  width: 106px;
  height: 60px;
}

.regular-customers-item {
  flex-basis: calc((100%-5 * 30px) / 6);
}

.regular-customers-item:not(:first-child) {
  margin-left: 30px;
}

.regular-customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--eleventh-color);
  fill: var(--eleventh-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-link:hover, .regular-customers-link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.footer {
  background-color: var(--sixth-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-footer:hover, .logo-footer:focus {
  color: var(--accent-color);
}

.logo-footer-web {
  color: var(--accent-color);
}

.contact-footer {
  margin-top: 20px;
}

.contact-footer-item:not(:first-child) {
  margin-top: 9px;
}

.contact-footer-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer-link:hover, .contact-footer-link:focus {
  color: var(--accent-color);
}

.contact-footer-link.address {
  color: var(--secondary-color);
}

.contact-footer-link.address:hover, .contact-footer-link.address:focus {
  color: var(--accent-color);
}

.social-footer-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.box-social-link {
  margin-left: 70px;
}

.social-item-footer:not(:first-child) {
  margin-left: 10px;
}

.form-footer {
  margin-left: auto;
}

.input-button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.form-head-footer {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.form-input-footer {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--secondary-color);
  padding-left: 16px;
}

.form-input-footer::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.modal-btn.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px 10px 29px;
  margin-left: 12px;
}

.form-footer-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.our-works {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-color);
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-item:not(:first-child) {
  margin-left: 8px;
}

.filter-button {
  padding: 6px 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--quaternary-color);
  background-color: var(--tenth-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button.current {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.projects-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.projects-link {
  display: block;
}

.projects-link:hover, .projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-title-type {
  padding: 20px 24px;
  border-left: 1px solid var(--ninth-color);
  border-right: 1px solid var(--ninth-color);
  border-bottom: 1px solid var(--ninth-color);
}

.projects-title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--quaternary-color);
}

.type-projects {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--fifth-color);
}

.projects-img-overlay-box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  padding: 63px 24px 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover .overlay,
.projects-link:focus .overlay {
  transform: translateY(0%);
}
/*# sourceMappingURL=main.css.map */